# Retrieve climate data through the meteo.cat API

In [1]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt 
import time
import csv
import geojson
import folium
from folium.plugins import HeatMap
import datetime as dt

In [2]:
# API key
key = 'enJH8FUX2z5Ar7NSCJvYI8pAIuDW0XDV9nbSkEMj'
url = 'https://api.meteo.cat/xema/v1/variables/mesurades/metadades'

headers = {'Accept': 'application/json', 'X-API-KEY': key}

r = requests.get(url)

display(r.status_code)
display(r.json())

403

{'message': 'Forbidden'}

In [3]:
# Get request to check resource availability  --> Just remove # to run

# url = 'https://api.meteo.cat/quotes/v1/consum-actual'

# headers = {'X-API-KEY': 'enJH8FUX2z5Ar7NSCJvYI8pAIuDW0XDV9nbSkEMj'}
# requests.get(url, headers=headers).json()

In [4]:
# Example of a get request retrieval  --> Just remove # to run

# key = 'enJH8FUX2z5Ar7NSCJvYI8pAIuDW0XDV9nbSkEMj'
# url = 'https://api.meteo.cat/xema/v1' + '/estacions/mesurades/X8/2020/03/02'

# headers = {'Accept': 'application/json', 'X-API-KEY': key}

# r = requests.get(url, headers=headers)

# r.json()

In [7]:
# Request example with processing to retrieve rain and temperature for each timestamp and store them as dictionaries on a list  --> Just remove # to run

key = 'enJH8FUX2z5Ar7NSCJvYI8pAIuDW0XDV9nbSkEMj'
url = 'https://api.meteo.cat/xema/v1' + '/estacions/mesurades/X8/2020/03/02'

headers = {'Accept': 'application/json', 'X-API-KEY': key}

r = requests.get(url, headers=headers)

data = r.json()[0]


# 35 is for precipitation in mm and 32 for temperature in ºC

precipitation = [data['variables'][i]['lectures'] for i in range(len(data['variables'])) if data['variables'][i]['codi'] == 35][0]
temperature = [data['variables'][i]['lectures'] for i in range(len(data['variables'])) if data['variables'][i]['codi'] == 32][0]


date_variables = [{'timestamp':int(dt.datetime.strptime(d['data'], '%Y-%m-%dT%H:%MZ').timestamp()), 'mm_precip':d['valor']} for d in precipitation]

for i in range(len(date_variables)):
    date_variables[i]['temperature'] = temperature[i]['valor']

date_variables

[{'timestamp': 1583103600, 'mm_precip': 0, 'temperature': 14},
 {'timestamp': 1583105400, 'mm_precip': 0, 'temperature': 14.9},
 {'timestamp': 1583107200, 'mm_precip': 0, 'temperature': 16},
 {'timestamp': 1583109000, 'mm_precip': 0, 'temperature': 16},
 {'timestamp': 1583110800, 'mm_precip': 0, 'temperature': 15.2},
 {'timestamp': 1583112600, 'mm_precip': 0.2, 'temperature': 14.5},
 {'timestamp': 1583114400, 'mm_precip': 0.2, 'temperature': 14.2},
 {'timestamp': 1583116200, 'mm_precip': 0, 'temperature': 14.5},
 {'timestamp': 1583118000, 'mm_precip': 0, 'temperature': 15.2},
 {'timestamp': 1583119800, 'mm_precip': 0, 'temperature': 15.6},
 {'timestamp': 1583121600, 'mm_precip': 0, 'temperature': 15.7},
 {'timestamp': 1583123400, 'mm_precip': 0, 'temperature': 15.9},
 {'timestamp': 1583125200, 'mm_precip': 0, 'temperature': 15.9},
 {'timestamp': 1583127000, 'mm_precip': 0, 'temperature': 16},
 {'timestamp': 1583128800, 'mm_precip': 0, 'temperature': 16},
 {'timestamp': 1583130600, 'mm_precip': 0.3, 'temperature': 16},
 {'timestamp': 1583132400, 'mm_precip': 1, 'temperature': 13.8},
 {'timestamp': 1583134200, 'mm_precip': 0, 'temperature': 14.4},
 {'timestamp': 1583136000, 'mm_precip': 0, 'temperature': 15},
 {'timestamp': 1583137800, 'mm_precip': 0, 'temperature': 16.1},
 {'timestamp': 1583139600, 'mm_precip': 0, 'temperature': 16.9},
 {'timestamp': 1583141400, 'mm_precip': 0, 'temperature': 16.2},
 {'timestamp': 1583143200, 'mm_precip': 0, 'temperature': 16.7},
 {'timestamp': 1583145000, 'mm_precip': 0, 'temperature': 16.3},
 {'timestamp': 1583146800, 'mm_precip': 0, 'temperature': 15.6},
 {'timestamp': 1583148600, 'mm_precip': 0, 'temperature': 16.5},
 {'timestamp': 1583150400, 'mm_precip': 0, 'temperature': 17.1},
 {'timestamp': 1583152200, 'mm_precip': 0, 'temperature': 17.5},
 {'timestamp': 1583154000, 'mm_precip': 0, 'temperature': 17.9},
 {'timestamp': 1583155800, 'mm_precip': 0, 'temperature': 17.4},
 {'timestamp': 1583157600, 'mm_precip': 0, 'temperature': 16.9},
 {'timestamp': 1583159400, 'mm_precip': 0, 'temperature': 16.3},
 {'timestamp': 1583161200, 'mm_precip': 0, 'temperature': 16.2},
 {'timestamp': 1583163000, 'mm_precip': 0, 'temperature': 15.6},
 {'timestamp': 1583164800, 'mm_precip': 0, 'temperature': 14.6},
 {'timestamp': 1583166600, 'mm_precip': 0, 'temperature': 13.7},
 {'timestamp': 1583168400, 'mm_precip': 0, 'temperature': 12.9},
 {'timestamp': 1583170200, 'mm_precip': 0, 'temperature': 12.3},
 {'timestamp': 1583172000, 'mm_precip': 0, 'temperature': 11.9},
 {'timestamp': 1583173800, 'mm_precip': 0, 'temperature': 11.5},
 {'timestamp': 1583175600, 'mm_precip': 0, 'temperature': 11.2},
 {'timestamp': 1583177400, 'mm_precip': 0, 'temperature': 10.8},
 {'timestamp': 1583179200, 'mm_precip': 0, 'temperature': 10.5},
 {'timestamp': 1583181000, 'mm_precip': 0, 'temperature': 10},
 {'timestamp': 1583182800, 'mm_precip': 0, 'temperature': 9.6},
 {'timestamp': 1583184600, 'mm_precip': 0, 'temperature': 9.2},
 {'timestamp': 1583186400, 'mm_precip': 0, 'temperature': 8.9},
 {'timestamp': 1583188200, 'mm_precip': 0, 'temperature': 8.9}]

In [9]:
CODE TO RETRIEVE DATA FROM THE WEATHER API AND STORE IT IN A CSV FILE
FROM 2019/01/01 TO 2022/12/31

start_date = dt.date(2019, 1, 1)
end_date = dt.date(2022, 12, 31)

assert start_date < end_date, 'Start date must be before end date'

delta = dt.timedelta(days=1)

freq = 1/20

day = start_date

columns = ['timestamp', 'mm_precip', 'temperature']

with open('weather_data/weather.csv', mode = 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=columns)
    writer.writeheader()

    while day <= end_date:

        day_string = day.strftime('%Y/%m/%d')

        url = 'https://api.meteo.cat/xema/v1' + '/estacions/mesurades/X8/' + day_string 

        print(day_string)

        headers = {'Accept': 'application/json', 'X-API-KEY': key}

        data = requests.get(url, headers=headers).json()[0]

        precipitation = [data['variables'][i]['lectures'] for i in range(len(data['variables'])) if data['variables'][i]['codi'] == 35][0]
        temperature = [data['variables'][i]['lectures'] for i in range(len(data['variables'])) if data['variables'][i]['codi'] == 32][0]


        date_variables = [{'timestamp':int(dt.datetime.strptime(d['data'], '%Y-%m-%dT%H:%MZ').timestamp()), 'mm_precip':d['valor']} for d in precipitation]

        for i in range(len(date_variables)):
            date_variables[i]['temperature'] = temperature[i]['valor']

        writer.writerows(date_variables)

        day += delta

        time.sleep(freq)

# Station localization on a map using the folium library

In [2]:

gener_info = pd.read_csv('data/2021_01_Gener_BicingNou_INFORMACIO.csv')

gener_info.head()

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,nearby_distance,cross_street,last_updated,ttl
0,1,"GRAN VIA CORTS CATALANES, 760",ELECTRICBIKESTATION,41.397978,2.180107,16,"GRAN VIA CORTS CATALANES, 760",8013,46,1000,NaN,1609455629,25
1,2,"C/ ROGER DE FLOR, 126",ELECTRICBIKESTATION,41.395488,2.177198,17,"C/ ROGER DE FLOR, 126",8013,27,1000,NaN,1609455629,25
2,3,"C/ NÀPOLS, 82",ELECTRICBIKESTATION,41.394156,2.181331,11,"C/ NÀPOLS, 82",8013,27,1000,NaN,1609455629,25
3,4,"C/ RIBES, 13",ELECTRICBIKESTATION,41.393317,2.181248,8,"C/ RIBES, 13",8013,21,1000,NaN,1609455629,25
4,5,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",ELECTRICBIKESTATION,41.391103,2.180176,7,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",8018,39,1000,NaN,1609455629,25

In [3]:
frequencies = pd.DataFrame(np.transpose(np.unique(gener_info['station_id'], return_counts=True)))

frequencies.columns = ['station_id', 'frequency']

stations = pd.DataFrame(np.unique(gener_info[['station_id','lat', 'lon']], axis = 0))

stations.columns = ['station_id', 'lat', 'lon']

frequencies  = pd.merge(left = frequencies, right = stations, on = 'station_id', how = 'left')

frequencies

     station_id  frequency        lat       lon
0             1       8919  41.397978  2.180107
1             2       8915  41.395488  2.177198
2             3       8916  41.394156  2.181331
3             4       8919  41.393317  2.181248
4             5       8907  41.391103  2.180176
..          ...        ...        ...       ...
502         515       8919  41.435207  2.194800
503         516       8919  41.435460  2.200157
504         517       8910  41.462095  2.178959
505         518       8919  41.424689  2.157049
506         519       8919  41.424655  2.166289

[507 rows x 4 columns]

In [4]:
gener_estacions = pd.read_csv('data/2021_01_Gener_BicingNou_ESTACIONS.csv')

gener_estacions.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
0,1,43,43,0,3,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22
1,2,17,15,2,10,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22
2,3,3,3,0,22,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22
3,4,15,14,1,6,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22
4,5,8,8,0,31,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22

In [5]:
int(gener_estacions.head()['last_reported'][0])

1609455406

In [6]:
locations = gener_info[['name', 'lat', 'lon']].groupby('name').mean().reset_index()

locations.loc[1]['lat']

locations.shape

(506, 3)

In [7]:

map = folium.Map(location=[41.3870154, 2.1700471], zoom_start=13)

for i in range(locations.shape[0]):
    folium.Marker([locations.loc[i]['lat'], locations.loc[i]['lon']], popup=locations.loc[i]['name']).add_to(map)

with open('data/CARRIL_BICI.geojson') as f:
    data = json.load(f)


folium.GeoJson(data).add_to(map)

heatmap_data = [(locations.loc[i]['lat'], locations.loc[i]['lon'], frequencies.loc[i]['frequency']) for i in range(locations.shape[0])]

HeatMap(heatmap_data).add_to(map)

map.save('maps/map.html')

In [8]:

map_no_markers = folium.Map(location=[41.3870154, 2.1700471], zoom_start=13)

folium.GeoJson(data).add_to(map_no_markers)

HeatMap(heatmap_data).add_to(map_no_markers)

map_no_markers.save('maps/map_no_markers.html')

In [9]:
# something like this should be done if we want to account for spain's time dts changes
import pytz
from datetime import datetime

# create a timezone object for the Spanish time zone
spain_tz = pytz.timezone('Europe/Madrid')


og = 1583503600

# create a datetime object representing a timestamp in UTC
utc_time = datetime.utcfromtimestamp(og)

# convert the UTC datetime object to the Spanish time zone
spain_time = utc_time.replace(tzinfo=pytz.utc).astimezone(spain_tz)

# convert the Spanish datetime object to a Unix timestamp
spain_timestamp = int(spain_time.timestamp())

# print the original and corrected timestamps
print("Original timestamp:", og)
print("Corrected timestamp:", spain_timestamp)

Original timestamp: 1583503600
Corrected timestamp: 1583503600

# WEATHER AND STATION DATA MERGE

In [10]:
# function to add the corrected timestamps as a new column for all time collmns desired to be able to merge with the weather data later

def weather_time(dataframe, columns):

    for column in columns:
        column_name = 'wt_'+column
        dataframe[column_name] = dataframe[column]- dataframe[column]%1800 - 1800
    
    return dataframe


# First trial

# gener_estacions['weather_time'] = gener_estacions['last_reported'] - gener_estacions['last_reported']%1800 + 1800

# gener_estacions.head()

In [11]:
gener_estacions =  weather_time(gener_estacions, ['last_reported', 'last_updated'])

gener_estacions.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl,wt_last_reported,wt_last_updated
0,1,43,43,0,3,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22,1.609452e+09,1609453800
1,2,17,15,2,10,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22,1.609452e+09,1609453800
2,3,3,3,0,22,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22,1.609452e+09,1609453800
3,4,15,14,1,6,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22,1.609452e+09,1609453800
4,5,8,8,0,31,1.609455e+09,True,IN_SERVICE,1,1,1,1609455626,22,1.609452e+09,1609453800

In [12]:
weather_data = pd.read_csv('weather_data/weather.csv')
weather_data.head()

    timestamp  mm_precip  temperature
0  1546297200        0.0          9.1
1  1546299000        0.0          8.9
2  1546300800        0.0          9.0
3  1546302600        0.0          9.2
4  1546304400        0.0          8.6

In [13]:
dataset = pd.merge(left = gener_estacions, right = weather_data, left_on = 'wt_last_reported', right_on = 'timestamp',   how = 'left')

target = dataset['num_bikes_available']
df = dataset['']